.App{
  height: 100vh;
}

.calculator{
  position: relative;
  background-color: black;
  color: black;
  width: 33.3vw;
  height: 95.3vh;
  margin-left:33.3vw;
  font-size: 1em;
}

.displayWrapper{
  display: flex;
  flex-direction: row;
  background-color: black;
}

.display{
  position: relative;
  left: 100px;
  color: white;
  /* background-color: aqua; */
  text-align: end;
  width: 80%;
  height: auto;
  font-size: 50px;
}

.clearButtWrapp{
  display: flex;
  flex-direction: row;
  background-color: #ccc;
  color: black;
  width: 48.8vh;
  height: 16vh;
  border:2px solid black;
}

.clearButt{
  width: 100%;
  font-size: 3em;
}


.operatorWrapp{
  position: relative;
  left:49.3vh;
  bottom:16.4vh;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 20%;
}



.digitWrapp{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 30vw;
  height: 10vh;
  /* background-color: ghostwhite; */
  color: black;
}


.operator{
  background-color: red;
  /* color: white; */
  /* border: solid 2px black; */
}

.digits{
  position: relative;
  bottom: 90vh;
  background-color: whitesmoke;
}

.but{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  /* padding: 5vh 5vh 5vh 5vh; */
  width: 16vh;
  height: 16vh;
  font-size: 3em;
  font-weight: 700;
  border: solid 2px black;
  
}
